<h1>{{title}}</h1>
<p>Welcome to {{title}}!</p>
    <hr />
    <div class="options">
    <h3><a href="/drones">Available drones</a></h3>
     <h3>|</h3>   
    <h3><a href="/drones/create">Register a drone</a></h3>
    </div>